body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
}

.App {
  width: 100%;
}

.nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #6678bb;
  color: #FFFFFF;
}

.activated {
  background-color: #3b51a1;
  color: #FFFFFF;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 412px;
}

.entry {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  border-radius: 10px;
  background-color: none;
  text-align: left;
  width: 185px;
  height: auto;
  margin: 5px;
  box-shadow: 2px 2px 16px -5px rgba(0, 0, 0, 0.57);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-shadow: 2px 2px 16px -5px rgba(0, 0, 0, 0.57);
  width: 100%;
}

.left {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-radius: 100% 0px 0px 100%;
  width: 10px;
}

.content {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  font-size: 0.7em;
  width: 125px;
}

.title {
  width: 40px;
  padding-right: 5px;
}

.right {
  width: 10px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-radius: 0px 100% 100% 0px;
}

.dashbutton {
  background-color: #4176e6;
  color: azure;
  border-radius: 10px;
  font-weight: bold;
}

.dashbutton:hover {
  cursor: pointer;
  background-color: #2e53a3;
}